.search_header {
  display: flex;
  flex-direction: row;
  padding: 0 10px 0 10px;
}

.search_icons {
  margin-top: 100px;
}

.search_input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.search_icon {
  font-size: 40;
}
